# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git\Closest-pair-of-points\Closest_Pair\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
